  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2>入力内容確認</h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li class="active">入力内容確認</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix stepsWrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="innerWrapper clearfix stepsPage">
            <div class="row progress-wizard" style="border-bottom:0;">
              <div class="col-xs-4 progress-wizard-step complete fullBar">
                <div class="text-center progress-wizard-stepnum">お届け先情報</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <i class="progress-wizard-dot"></i>
              </div>
              <div class="col-xs-4 progress-wizard-step complete fullBar">
                <div class="text-center progress-wizard-stepnum">お支払い方法</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <i class="progress-wizard-dot"></i>
              </div>
              <div class="col-xs-4 progress-wizard-step complete">
                <div class="text-center progress-wizard-stepnum">入力内容確認</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <i class="progress-wizard-dot"></i>
              </div>
            </div>
            <form action="" class="row" method="POST" role="form">
              <div class="col-xs-12">
                <div class="page-header">
                  <h4>入力内容確認</h4>
                </div>
              </div>
              <div class="col-sm-12 col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">お届け先情報</h4>
                  </div>
                  <div class="panel-body">
                    <address>
                      <strong>Adam Smith</strong><br>
                      9/4 C Babor Road, Mohammad pur, <br>
                      Shyamoli, Dhaka <br>
                      Bangladesh
                    </address>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="cartListInner">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Product Name</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Sub Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="col-xs-2">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <span class="cartImage"><%= image_tag("products/cart-image.jpg", :class => "media-left media-object", :alt => "cart-Image") %></span>
                          </td>
                          <td class="col-xs-4">Italian Winter Hat</td>
                          <td class="col-xs-2">$ 99.00</td>
                          <td class="col-xs-2"><input type="text" placeholder="1"></td>
                          <td class="col-xs-2">$ 99.00</td>
                        </tr>
                        <tr>
                          <td class="col-xs-2">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <span class="cartImage"><%= image_tag("products/cart-image.jpg", :class => "media-left media-object", :alt => "cart-Image") %></span>
                          </td>
                          <td class="col-xs-4">Italian Winter Hat</td>
                          <td class="col-xs-2">$ 99.00</td>
                          <td class="col-xs-2"><input type="text" placeholder="1"></td>
                          <td class="col-xs-2">$ 99.00</td>
                        </tr>
                        <tr>
                          <td class="col-xs-2">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <span class="cartImage"><%= image_tag("products/cart-image.jpg", :class => "media-left media-object", :alt => "cart-Image") %></span>
                          </td>
                          <td class="col-xs-4">Italian Winter Hat</td>
                          <td class="col-xs-2">$ 99.00</td>
                          <td class="col-xs-2"><input type="text" placeholder="1"></td>
                          <td class="col-xs-2">$ 99.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row totalAmountArea">
                    <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                      <ul class="list-unstyled">
                        <li>小計 <span>792円</span></li>
                        <li>消費税 <span>18円</span></li>
                        <li>総計 <span class="grandTotal">810円</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="well well-lg clearfix">
                  <ul class="pager">
                    <li class="previous"><a href="checkout_step_2.html">戻る</a></li>
                    <li class="next"><a href="checkout_complete.html">購入確定</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- LOGIN MODAL -->
<div class="modal fade" id="login" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">log in</h3>
      </div>
      <div class="modal-body">
        <form action="" method="POST" role="form">
          <div class="form-group">
            <label for="login-email">Enter Email</label>
            <input type="email" class="form-control" id="login-email">
          </div>
          <div class="form-group">
            <label for="login-password">Password</label>
            <input type="password" class="form-control" id="login-password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-block">log in</button>
          <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- SIGN UP MODAL -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Create an account</h3>
      </div>
      <div class="modal-body">
        <form action="" method="POST" role="form">
          <div class="form-group">
            <label for="signup-email">Enter Email</label>
            <input type="email" class="form-control" id="signup-email">
          </div>
          <div class="form-group">
            <label for="signup-password">Password</label>
            <input type="password" class="form-control" id="signup-password">
          </div>
          <div class="form-group">
            <label for="signup-password-confirmation">Confirm Password</label>
            <input type="password" class="form-control" id="signup-password-confirmation">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>