<% provide(:title, @taxon.name) %>
<%= render "categories_header", taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render "sidebar", taxonomies: @taxonomies %>
        <%= render "main_categories", products: @products %>
      </div>
    </div>
  </section>
</div>
