<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <%= render "product_header", product: @product %>
  <section class="mainContent clearfix">
    <div class="container">
      <%= render "main_product", product: @product %>
      <%= render "related_product", related_products: @related_products %>    
    </div>
  </section>
</div>