<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render "layouts/app_header" %>
      <%= yield %>
      <%= render "layouts/brand_slide" %>
      <%= render "layouts/app_footer" %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
